html {
    position: relative;
    min-height: 100%;
    max-width: 100vw;
}

header.header {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    position: relative;
    left: -20%;
    width: 120%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: url(https://skrepr.com/img/header.png);
    border-bottom-left-radius: 100% 25%;
    border-bottom-right-radius: 100% 25%;
    border-bottom: none;
}

@media (min-width: 992px) {
    header.header {
        height: 300px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.padded {
    padding-top: 80px;
    padding-bottom: 60px;
    border-bottom: solid 5px #f6f6f6;
}

.orange {
    background-color: #FFA524;
    transition: 0.05s;
}
.cursor {
    animation: blink-karoake .75s step-end infinite;
    animation-duration: 1s;
    color: black;
}

.cursororange {
    animation: blink-karoakeorange .75s step-end infinite;
    animation-duration: 1s;
}

@keyframes blink-karoake {
    from, to { color: transparent }
    50% { color: white; }
}

@keyframes blink-karoakeorange {
    from, to { color: transparent }
    50% { color: #ff512f; }
}
.btn {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: Europa,'Helvetica Neue',Arial,sans-serif;
    background-color: #f0f0f0;;
    font-size: 1rem;
    float: right !important;
    z-index: 1000;
}

hr {
    font-size: 18px;
    font-family: 'europa-regularregularitalic';
}
h4 {
    font-size: 50px;
    color: #555555;
    font-family: 'europa-regularregularitalic';
}

h2 {
    color: #b3b3b3;
    font-family: 'europa-regularregularitalic';
}

h3 {
    font-family: 'europa-boldbold';
}
h6 {
    text-align: left;
    color: #999999;
    font-family: 'europa-regularregularitalic';
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
            typing 3s steps(40, end),
            blink-caret .75s step-end infinite;
}
p {
    margin-top: 0px;
    margin-bottom: 1rem;
    font-family: 'europa-regularregularitalic';
}

form {
    font-family: 'europa-boldbold';
}

#contact p {
    color: #b3b3b3;
    font-size: 16px;
    font-family: 'europa-regularregularitalic';
}

h1 {
    font-family: 'europa-boldbold';
    font-style: normal;
    font-weight: 700;
    font-size: 64px !important;
}

img {
    position:absolute; top:18px; left:18%;
}

.footer {
    left: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #2a2c44;
    display: table;
}

.footer {
    color: #9aa0ac;
}

.footer h1 {
    color: white;
    margin-top: 10px;
    text-align: center !important;
    font-size: 25px !important;
}





